{% extends 'notes/base.html' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover ">
        {% for memo in memo_list %}
            {% if forloop.first %}
                <tr>
                    <th>NAME</th>
                    <th>SEM-{{memo.sem}}</th>
                    <th>{{memo.sub1}}</th>
                    <th>{{memo.sub2}}</th>
                    <th>{{memo.sub3}}</th>
                </tr>
            {% else %}
                <tr>
                    <td>{{memo.user}}</td>
                    <td>{{memo.sem}}</td>
                    <td>{{memo.sub1}}</td>
                    <td>{{memo.sub2}}</td>
                    <td>{{memo.sub3}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
        
    
{% endblock content %}